/*
 * {{ item }} checks definition
 */

object HostGroup "{{ hostvars[item]['ansible_hostname'] }}" {
        display_name = "{{ hostvars[item]['ansible_hostname'] }}"
}

/*
 * {{ item }} host definition
 */

object Host "{{ hostvars[item]['ansible_hostname'] }}" {
  import "generic-host"
  display_name = "{{ hostvars[item]['ansible_hostname'] }}"
  address = "{{ item }}"
  vars.notification_mail = "true"
{% if icinga2_notification_telegram is defined %}
  vars.notification_telegram = "true"
{% endif %}
  
  vars.os = "Linux"
  vars.endpoint = "{{ hostvars[item]['ansible_hostname'] }}"
  groups =["{{ hostvars[item]['ansible_hostname'] }}"]
}

/*
 * {{ item }} services definition
 */

apply Service "check disk" {
  import "generic-service"
  display_name = "Check Disk"
  vars.notification_mail = "true"
{% if icinga2_notification_telegram is defined %}
  vars.notification_telegram = "true"
{% endif %}

  check_command = "disk"
  vars.disk_wfree = "10%"
  vars.disk_cfree = "5%"
  vars.disk_mountpoint = "true"
  vars.disk_all = "true"
  vars.disk_ignore_eregi_path = ["/var/lib/docker/*", "/run/docker/netns/*"]

  command_endpoint = host.vars.endpoint
  assign where "{{ hostvars[item]['ansible_hostname'] }}" in host.groups
}

apply Service "check load" {
  import "generic-service"
  display_name = "Check Load"
  vars.notification_mail = "true"
{% if icinga2_notification_telegram is defined %}
  vars.notification_telegram = "true"
{% endif %}

  check_command = "load"
  vars.load_wload1 = "5"
  vars.load_wload5 = "5"
  vars.load_wload15 = "5"
  vars.load_cload1 = "10"
  vars.load_cload5 = "10"
  vars.load_cload15 = "10"

  command_endpoint = host.vars.endpoint
  assign where "{{ hostvars[item]['ansible_hostname'] }}" in host.groups
}
