## OPTIONAL SERVICE DEFINITION ##

apply Service "URL Check - " for (http_vhost => config in host.vars.http_url) {
  import "generic-service"
  check_command = "http"
  vars.notification_mail = "true"
{% if icinga2_notification_telegram is defined %}
  vars.notification_telegram = "true"
{% endif %}

  vars += config
  notes = "HTTP checks for " + http_vhost
  vars.http_vhost = http_vhost
  vars.http_uri = config.http_uri

  assign where host.vars.http_url
}

apply Service "Mysql Check" {
  import "generic-service"
  check_command = "mysql"
  vars.notification_mail = "true"
{% if icinga2_notification_telegram is defined %}
  vars.notification_telegram = "true"
{% endif %}

  vars.mysql_user = host.vars.mysql_username
  vars.mysql_password = host.vars.mysql_password

  assign where host.vars.mysql == true
}

apply Service "Elasticsearch Check" {
  import "generic-service"
  check_command = "elasticsearch-server"
  vars.notification_mail = "true"
{% if icinga2_notification_telegram is defined %}
  vars.notification_telegram = "true"
{% endif %}

  vars.elasticsearch_host = host.vars.endpoint
  vars.elasticsearch_port = host.vars.elasticsearch_port

  assign where host.vars.elasticsearch == true
}
